* .bm-button {
  display: inline-flex;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: all 0.3s;
  font-weight: 500;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
  box-shadow: 0 0px 10px rgba(89, 89, 89, 0.08);
  border: solid 0.2px rgba(255, 255, 255, 0.495);
  position: relative;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  &:hover {
    filter: brightness(1.05);
    scale: 1.03;
    box-shadow: 0 0px 10px rgba(89, 89, 89, 0);
  }
  &:active {
    scale: 0.95;
  }
}
.bm-button--enterAnimate {
  animation: button-appear 0.5s ease-in-out;
}
@keyframes button-appear {
  0% {
    scale: 0.95 1;
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    scale: 1.0 1;
    transform: translateX(0);
    opacity: 1;
  }
}

.bm-button .text {
  position: relative;
  z-index: 2;
    scale: 1.0;
  transition: all 0.5s;
}
.bm-button--alert .text{
  text-shadow: 0 0px 10px rgba(89, 89, 89, 0.176)
}

.bm-button:hover .text {
  scale: 1.05;
  transition: all 0.2s;
}
.bm-button--disabled:hover .text {
  scale: 1.0;
  transition: all 0.2s;
}

.bm-button:active .text {
  scale: 0.95;
  transition: all 0.2s;
}
.bm-button--disabled:active .text {
  scale:1;
  transition: all 0.2s;
}

.bm-button--default {
  background-image: linear-gradient(
    145deg,
    rgb(244, 255, 243) 0%,
    rgb(239, 255, 235) 50%,
    rgb(246, 255, 244) 100%
  );
  color: #7bc173;
  border: solid 0.2px rgba(46, 123, 13, 0.148);
  backdrop-filter: blur(2px);
  box-shadow: 0 0px 15px rgba(181, 181, 181, 0.221);
  &:hover{
    filter: brightness(1.01); 
  }
}
.bm-button--primary {

  background-image: linear-gradient(
    45deg,
    rgb(177, 221, 164) 0%,
    rgb(105, 204, 149) 50%,
    rgb(87, 187, 112) 100%
  );
}
 .bm-button--danger {
    background-image: linear-gradient(
    45deg,
    rgb(247, 152, 36) 0%,
    rgb(242, 88, 45) 50%,
    rgb(245, 110, 124) 100%,
  );
  &:hover {
    filter: brightness(1.05) saturate(1.5);
  }
}
.bm-button--alert {
   background-image: linear-gradient(
    135deg,
    rgb(255, 217, 0) 0%,
    rgb(255, 211, 78) 50%,
     rgb(226, 237, 14) 100%,
  );
}
.bm-button--link {
  background-color: transparent;
  background-image: none;
  border: none;
  border-color: transparent;
  box-shadow: none;
  color: #7bc173;
}
 

.bm-button--outline::before {
  content: "";
  position: absolute;
  top: 2.5px;
  left: 2.5px;
  right: 2.5px;
  bottom: 2.5px;
  height: inherit;
  width: inherit;
  z-index: 1;
  border-radius: 14px;
  border: 1.6px solid transparent;
  background-color: #effff3;
  transition: all 0.3s;
}
.bm-button--alert.bm-button--outline::before {
  background-color: #fffedb;
}
.bm-button--danger.bm-button--outline::before {
  background-color: rgb(255, 241, 228);
}


.bm-button--outline:hover::before {
  opacity: 0;
}

.bm-button--primary.bm-button--outline .text {
  color: rgb(108, 212, 152);
}
.bm-button--danger.bm-button--outline .text {
  color: rgb(220, 76, 36);
}
.bm-button--alert.bm-button--outline .text {
  color: rgb(233, 189, 14);
  
}

.bm-button--primary.bm-button--outline:hover .text {
  color: #ffffff;
}
.bm-button--danger.bm-button--outline:hover .text {
  color: #ffffff;
}
.bm-button--alert.bm-button--outline:hover .text {
  color: #ffffff;
}



.bm-button--s {
  padding:9px 19px;
  font-size: 16px;
    border-radius: 17px;
}
.bm-button--m {
  padding: 12px 25px;
  font-size: 20px;
  border-radius: 17px;
}
.bm-button--l {
  padding: 11px 25px;
  font-size: 30px;
   border-radius: 17px;
}



.bm-button--link {
  position: relative;
  overflow: hidden;
}
 

.bm-button--link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(150, 202, 140);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

 
.bm-button--link:hover::after {
  transform: translateX(0);
}
.bm-button--link:hover .text {
  color: #ffffff;
}
.bm-button--link:visited {
  color: #9ccea0;
}

.bm-button--link.bm-button--disabled {
  color: #959595;
  pointer-events: none;
  -webkit-user-select: none;
}

.bm-button--disabled {
  color: #959595;
  background-color: #f5f7fa;
  background-image: none;
  border-color: #e4e7ed;
  cursor:default;
  &:hover {
    filter: brightness(0.95);
    scale: 1.0;
    box-shadow: 0 0px 10px rgba(89, 89, 89, 0.192);
  }
}
.bm-button--thinFont{
  font-weight: 100;
}