 *{
    transition: all 0.3s ease-in-out;
 }
.message-box{
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%, -50%);
    justify-content: space-around;
    z-index: 1000;
    background-image: linear-gradient(
        135deg,
        #fbfffd 0%,
        rgb(254, 255, 252) 100%
    );
    width: 400px;
    height: 250px;
    padding: 20px;
    box-shadow: var(--bm-shadow-normal);
    border:solid 1px var(--bm-border-color-lights);
    max-width: 700px;
    max-height: 800px;
}
.message-box__footer-btn .bm-button{
    width: 140%;
}
.message-middle-container{
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: row;
    align-items: center;
    justify-content:left;
    padding-left: 20px;
    padding-top: 20px;
}
.message-box__footer{
    display: flex;
    height: 20%;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    transform: translate(-3%);
}
/* 消息框大小 */
.message-box-s{
     width: 400px;
    height: 200px;
    border-radius: var(--bm-large-s-radius);
}
.message-box-m{
    width: 450px;
    height: 250px;
    border-radius: var(--bm-large-m-radius);
}
.message-box-l{
    width: 600px;
    height: 400px;
    border-radius: var(--bm-large-l-radius);
}
.message-box-xl{
    width: 800px;
    height: 450px;
    border-radius: var(--bm-large-xl-radius);
}
.message-box-auto{
    width: 70%;
    height: auto;
}
.message-box-auto .message-box__content span{
    width: fit-content;
    overflow: auto;
 
}
.message-box-auto .message-box__content{
    width: fit-content;
    height: fit-content;
    overflow: auto;
}
/* 组件 */

.message-box__close{
    position: absolute;
    top: 15px;
    right: 15px;
    height: 28px;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    font-size: 25px;
    border:solid 1px transparent;
    background-color: transparent;
    color: var(--bm-color-default-text);
    cursor: pointer;
    &:hover{
        border: solid 1px var(--bm-color-default-text);
        background-color: var(--bm-color-default-0);
        scale: 1.1;
    }
    &:active{
        scale: 0.9;
    }
}
.message-box__header{
    padding: 0px;
    margin: 0;
    line-height: 0px;
    margin-top:-4%;
    color: var(--bm-color-default-text);
}
.message-box__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    text-align: left;
    width: 70%;
    height: 100%;
    align-items: left;
    color: var(--bm-color-default-text);
    margin-left: 10px;
}
.message-box__close svg path{
    stroke: var(--bm-color-default-text);
}
.message-box-mask{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    backdrop-filter: blur(5px);
}
.message-box__content{
    width: 88%;
    overflow: hidden;
}
.message-box__content span{
    display: block;
    text-align: center;
    font-size: 20px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.message-box__content--prompt span{
    text-align: left;
    height: 90%;
    margin-bottom: 10px;
}
 


/* 弹窗动画 */
.messagefade-enter-from,
.messagefade-leave-to {
  opacity: 0;
}
.messagefade-enter-active,
.messagefade-leave-active {
  transition: all 0.2s ease-in-out;
}
/* 弹窗内容动画 */
.boxfade-enter-from,
.boxfade-leave-to {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.9);
}
.boxfade-enter-active,
.boxfade-leave-active {
  transition: all 0.3s ease-in-out;
}
 