.bm-pin {
  position: fixed;
  padding: 10px;
  z-index: 1000;
}
.bm-pin:hover .text > .bm-pin-group--sleep {
  opacity: 1;
  pointer-events: all;
  scale: 1;
  transform: translateX(12%) translateY(-16%);
}
.bm-pin:hover .text > .bm-pin-group--sleep > .bm-pin {
  animation: pin-hover 0.3s cubic-bezier(0.38, -0.1, 0.58, 1.41);
}
.bm-pin-default {
  right: 0;
  bottom: 0;
}
.bm-pin-right {
  right: 0;
}
.bm-pin-bottom {
  bottom: 0;
}
.bm-pin-left {
  left: 0;
}
.bm-pin-top {
  top: 0;
}
@keyframes pin-hover {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}
