:root {
  /* 主体色 */
  --bm-color-primary-light: #b1dda4;
  --bm-color-primary-mid: #69cc95;
  --bm-color-primary-dark: #57bb70;
  --bm-color-danger-light: #f79824;
  --bm-color-danger-mid: #f2582d;
  --bm-color-danger-dark: #f56e7c;
  --bm-color-alert-light: #ffd900;
  --bm-color-alert-mid: #ffd34e;
  --bm-color-alert-dark: #e2ed0e;
  /*主题色变体*/
  --bm-color-primary-light-light: #cdf0c7;
  --bm-color-primary-light-mid: #caf3bc;
  --bm-color-primary-light-dark: #d5f7dd;
  --bm-color-alert-light-light: #fff7cc;
  --bm-color-alert-light-mid: rgba(255, 247, 130, 0.637);
  --bm-color-alert-light-dark: #fff9c7;
  --bm-color-danger-light-light: #fff1e4;
  --bm-color-danger-light-mid: #ffebd2;
  --bm-color-danger-light-dark: #ffe5ba;
  /* 默认背景 */
  --bm-color-default-0: #f4fff3;
  --bm-color-default-50: #e2ffd9;
  --bm-color-default-100: #f6fff4;
  /* 默认色 */
  --bm-color-default-text: #7bc173;
  --bm-color-default-dark-text: #fff;
  --bm-color-default-light-text: #ffffff;
  --bm-color-default-border: rgba(46, 123, 13, 0.148);
  --bm-color-default-shadow: rgba(181, 181, 181, 0.221);
  /* 边框默认色 */
  --bm-border-color: rgba(0, 0, 0, 0.08);
  /* 阴影与光影 */
  --bm-shadow-normal: 0 0px 10px rgba(89, 89, 89, 0.08);
  --bm-shadow-hover: 0 0px 10px rgba(89, 89, 89, 0);
  --bm-shadow-disabled: 0 0px 10px rgba(89, 89, 89, 0.192);
  --bm-shadow-alert-text: rgba(89, 89, 89, 0.176);
  /* 圆角 */
  --bm-default-radius: 15px;
  /* 字体大小 */
  --bm-font-size: 19px;
  /* outline 内背景 */
  --bm-outline-bg-primary: #effff3;
  --bm-outline-bg-alert: #fffedb;
  --bm-outline-bg-danger: #fff1e4;
  /* outline hover 样式*/
  --bm-outline-hover-primary: #cdf7e6;
  --bm-outline-hover-alert: #fff9c4;
  --bm-outline-hover-danger: #ffd9b3;
  /* 文字颜色 */
  --bm-text-primary: #6cd498;
  --bm-text-primary-dark: #57bb70;
  --bm-text-danger: #dc4c24;
  --bm-text-danger-dark: #a14c34;
  --bm-text-alert: #e9bd0e;
  --bm-text-alert-dark: #b89831;
  /* 链接 */
  --bm-link-hover-bg: #96ca8c;
  --bm-link-hover-text: #fff;
  /* 禁用 */
  --bm-btn-disabled-color: #a8a8a8;
  --bm-btn-disabled-bg: #f5f5f5;
  --bm-btn-disabled-border: #dcdcdc;
  /* 图标默认色 */
  --bm-icon-hover-color: #fff;
  --bm-icon-default-color: #7BC173;
  /* 输入框 */
  --bm-input-hover-border-color: rgba(105, 199, 65, 0.781);
  --bm-input-color-focus-text: rgba(31, 68, 15, 0.781);
  --bm-input-bg: #fdfffd;
  --bm-input-hover-bg: #f5fff4;
  --bm-box-shadow: 0 0px 12px rgba(125, 179, 111, 0.151);
  --bm-box-shadow-hover: 0 0px 12px rgba(125, 179, 111, 0.288);
  --bm-box-shadow-primary: 0 0px 12px rgba(100, 182, 79, 0.429);
  --bm-box-shadow-danger: 0 0px 12px rgba(242, 88, 45, 0.429);
  --bm-box-shadow-alert: 0 0px 12px rgba(255, 211, 78, 0.429);
  /* loading 背景 */
  --bm-btn-loading-bg-inside: rgba(244, 255, 243, 0);
  /* 选中 */
  --bm-default-select-color: rgba(108, 212, 152, 0.3);
}
* {
  transition: all 0.4s;
}
.bm-button {
  display: inline-flex;
  align-items: center;
  line-height: 1;
  white-space: nowrap;
  justify-content: center;
  cursor: pointer;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: all 0.3s;
  font-weight: 500;
  padding: 12px 20px;
  font-size: 14px;
  box-shadow: 0 0px 10px rgba(89, 89, 89, 0.08);
  border: solid 0.2px var(--bm-border-color);
  position: relative;
  font-weight: 600;
  color: var(--bm-color-default-dark-text);
  text-decoration: none;
}
.bm-button:hover {
  filter: brightness(1.05);
  scale: 1.03;
  box-shadow: 0 0px 10px rgba(89, 89, 89, 0);
}
.bm-button:active {
  scale: 0.95;
}
.bm-button--enterAnimate {
  animation: button-appear 0.5s cubic-bezier(0.38, -0.1, 0.58, 1.41);
}
@keyframes button-appear {
  0% {
    scale: 0.95 1;
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    scale: 1 1;
    transform: translateX(0);
    opacity: 1;
  }
}
.bm-button .text {
  position: relative;
  z-index: 2;
  scale: 1;
  transition: all 0.5s;
}
.bm-button--alert .text {
  text-shadow: 0 0px 10px var(--bm-shadow-alert-text);
}
.bm-button:hover .text {
  scale: 1.05;
  transition: all 0.2s;
}
.bm-button--disabled:hover .text {
  scale: 1;
  transition: all 0.2s;
}
.bm-button:active .text {
  scale: 0.95;
  transition: all 0.2s;
}
.bm-button--disabled:active .text {
  scale: 1;
  transition: all 0.2s;
}
.bm-button--default {
  background-image: linear-gradient(145deg, var(--bm-color-default-0) 0%, var(--bm-color-default-50) 50%, var(--bm-color-default-100) 100%);
  color: var(--bm-color-default-text);
  border: solid 0.2px var(--bm-color-default-border);
  backdrop-filter: blur(2px);
  box-shadow: 0 0px 15px var(--bm-color-default-shadow);
}
.bm-button--default:hover {
  filter: brightness(1.01);
}
.bm-button--primary {
  background-image: linear-gradient(45deg, var(--bm-color-primary-light) 0%, var(--bm-color-primary-mid) 50%, var(--bm-color-primary-dark) 100%);
}
.bm-button--danger {
  background-image: linear-gradient(45deg, var(--bm-color-danger-light) 0%, var(--bm-color-danger-mid) 50%, var(--bm-color-danger-dark) 100%);
}
.bm-button--danger:hover {
  filter: brightness(1.05) saturate(1.5);
}
.bm-button--alert {
  background-image: linear-gradient(135deg, var(--bm-color-alert-light) 0%, var(--bm-color-alert-mid) 50%, var(--bm-color-alert-dark) 100%);
}
.bm-button--link {
  background-color: transparent;
  background-image: none;
  border: none;
  border-color: transparent;
  box-shadow: none;
  color: var(--bm-color-default-text);
  text-decoration: none;
}
.bm-button--outline::before {
  content: "";
  position: absolute;
  top: 2.5px;
  left: 2.5px;
  right: 2.5px;
  bottom: 2.5px;
  height: inherit;
  width: inherit;
  z-index: 1;
  border-radius: 11px;
  border: 1.6px solid transparent;
  background-color: var(--bm-outline-bg-primary);
  transition: all 0.3s;
}
.bm-button--alert.bm-button--outline::before {
  background-color: var(--bm-outline-bg-alert);
}
.bm-button--danger.bm-button--outline::before {
  background-color: var(--bm-outline-bg-danger);
}
.bm-button--outline:hover::before {
  opacity: 0;
}
.bm-button--primary.bm-button--outline .text {
  color: var(--bm-text-primary);
}
.bm-button--danger.bm-button--outline .text {
  color: var(--bm-text-danger);
}
.bm-button--alert.bm-button--outline .text {
  color: var(--bm-text-alert);
}
.bm-button--primary.bm-button--outline:hover .text {
  color: var(--bm-text-primary-hover);
}
.bm-button--danger.bm-button--outline:hover .text {
  color: var(--bm-text-danger-hover);
}
.bm-button--alert.bm-button--outline:hover .text {
  color: var(--bm-text-alert-hover);
}
/* button size */
.bm-button--s {
  padding: 9px 19px;
  font-size: 16px;
  border-radius: var(--bm-default-radius);
}
.bm-button--m {
  padding: 10px 22px;
  font-size: var(--bm-font-size);
  border-radius: var(--bm-default-radius);
}
.bm-button--l {
  padding: 11px 29px;
  font-size: 21px;
  border-radius: var(--bm-default-radius);
}
.bm-button--link {
  position: relative;
  overflow: hidden;
  text-decoration: none;
}
.bm-button--link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bm-link-hover-bg);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}
.bm-button--link:hover::after {
  transform: translateX(0);
}
.bm-button--link:hover .text {
  color: var(--bm-link-hover-text);
  text-decoration: none;
}
.bm-button--link:hover .bm-btn-icon {
  color: var(--bm-link-hover-text);
  scale: 1.1;
  transform: translateX(-5px);
}
.bm-button--iconOnly:hover .bm-btn-icon {
  scale: 1.1;
  transform: translateX(0px);
}
.bm-button--default.bm-button--iconOnly:hover .bm-btn-icon {
  color: var(--bm-icon-default-color);
  scale: 1.1;
  transform: translateX(0px);
}
.bm-button--link:visited {
  color: var(--bm-btn-link-color);
}
.bm-button--link.bm-button--disabled {
  color: var(--bm-btn-disabled-color);
  pointer-events: none;
  -webkit-user-select: none;
}
.bm-button--thinFont {
  font-weight: 100;
}
.bm-button--disabled {
  color: var(--bm-btn-disabled-color);
  background-color: var(--bm-btn-disabled-bg);
  background-image: none;
  border-color: var(--bm-btn-disabled-border);
  cursor: default;
}
.bm-button--disabled:hover {
  filter: brightness(0.95);
  scale: 1;
  color: --bm-btn-d;
  box-shadow: 0 0px 10px rgba(89, 89, 89, 0.192);
}
.bm-button--danger.bm-button--disabled .text,
.bm-button--alert.bm-button--disabled .text,
.bm-button--primary.bm-button--disabled .text,
.bm-button--link.bm-button--disabled .text {
  color: var(--bm-btn-disabled-color);
}
.bm-button--danger.bm-button--disabled.bm-button--outline:hover .text,
.bm-button--alert.bm-button--disabled.bm-button--outline:hover .text,
.bm-button--primary.bm-button--disabled.bm-button--outline:hover .text,
.bm-button--link.bm-button--disabled.bm-button--outline:hover .text {
  color: var(var(--bm-btn-disabled-color));
}
.bm-button--disabled::before {
  opacity: 0;
}
.bm-button--primary.bm-button--darkMode {
  background-image: linear-gradient(45deg, var(--bm-dark-primary-light) 0%, var(--bm-dark-primary-mid) 50%, var(--bm-dark-primary-dark) 100%);
}
.bm-button--danger.bm-button--darkMode {
  background-image: linear-gradient(45deg, var(--bm-dark-danger-light) 0%, var(--bm-dark-danger-mid) 50%, var(--bm-dark-danger-dark) 100%);
}
.bm-button--alert.bm-button--darkMode {
  background-image: linear-gradient(45deg, var(--bm-dark-alert-light) 0%, var(--bm-dark-alert-mid) 50%, var(--bm-dark-alert-dark) 100%);
}
.bm-btn-icon {
  position: relative;
  z-index: 2;
  left: -5px;
}
.bm-button--iconOnly {
  border-radius: 30px;
  padding: 12px;
  padding-left: 10px;
  padding-right: 10px;
}
.bm-button--iconOnly .bm-btn-icon {
  left: 0px;
}
.bm-button--reverse .bm-btn-icon {
  left: 3px;
}
.bm-button--reverse:hover .bm-btn-icon {
  transform: translateX(5px);
}
.bm-button--loading {
  pointer-events: none;
  background-size: 400px 100%;
  filter: saturate(0.72);
  animation: bm-btn-loading-icon linear 2s infinite reverse;
}
.bm-button--loading::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: var(--bm-btn-loading-bg-inside);
  border-radius: 15px;
  z-index: 1;
}
.bm-button--loading .text {
  color: var(--bm-color-default-light-text);
}
.bm-btn-icon.spinner {
  animation: bm-btn-loading-spinner 1s infinite reverse;
}
.bm-button--outline.bm-button--alert .bm-btn-icon.spinner {
  color: var(--bm-text-alert);
}
.bm-button--outline.bm-button--danger .bm-btn-icon.spinner {
  color: var(--bm-text-danger);
}
.bm-button--outline.bm-button--primary .bm-btn-icon.spinner {
  color: var(--bm-text-primary);
}
.loading-enter-from,
.loading-leave-to {
  opacity: 0;
}
.loading-enter-active,
.loading-leave-active {
  transition: all 0.4s ease-in-out;
}
@keyframes bm-btn-loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
@keyframes bm-btn-loading-icon {
  0% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(0.9);
  }
  100% {
    filter: brightness(1);
  }
}
/* Outer Button Basic*/
.bm-button--block {
  width: 100%;
}
.bm-button--alert.bm-button--bubble.bm-button::after {
  background-color: var(--bm-color-alert-mid);
  color: var(--bm-color-default-light-text);
}
.bm-button--danger.bm-button--bubble.bm-button::after {
  background-color: var(--bm-color-danger-mid);
  color: var(--bm-color-default-light-text);
}
.bm-button--primary.bm-button--bubble.bm-button::after {
  background-color: var(--bm-color-primary-mid);
  color: var(--bm-color-default-light-text);
}
.bm-button--default.bm-button--bubble.bm-button::after {
  background-color: var(--bm-color-default-50);
  color: var(--bm-text-default);
}
/*Type Override*/
.bm-button-bubble--default.bm-button--bubble.bm-button::after {
  background-color: var(--bm-color-default-50);
  color: var(--bm-color-default-text);
}
.bm-button-bubble--alert.bm-button--bubble.bm-button::after {
  background-color: var(--bm-color-alert-mid);
  color: var(--bm-color-default-light-text);
}
.bm-button-bubble--danger.bm-button--bubble.bm-button::after {
  background-color: var(--bm-color-danger-mid);
  color: var(--bm-color-default-light-text);
}
.bm-button-bubble--primary.bm-button--bubble.bm-button::after {
  background-color: var(--bm-color-primary-mid);
  color: var(--bm-color-default-light-text);
}
/* Bubble Button*/
.bm-button--bubble.bm-button::after {
  pointer-events: none;
  opacity: 0;
  font-size: 17px;
  font-weight: bold;
  content: attr(data-bubble);
  position: absolute;
  bottom: 100%;
  left: 50%;
  padding: 10px 15px;
  transform: translate(-50%, 0%);
  background-color: var(--bm-color-default-50);
  border-radius: 15px;
  color: var(--bm-text-default);
  z-index: 10;
  transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.bm-button--bubble.bm-button:hover::after {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.bm-button--bubble.bm-button::after {
  transform: translate(-50%, 150%);
}
.bm-button--bubbleReverse.bm-button:hover::after {
  opacity: 1;
  transform: translate(-50%, 250%);
}
